/*================ IMPORT USERCHROME.CSS ================*/
@import "userChrome.css";

:root {
	--page_bg_color: #e1e0e6;
	--search_bg_color: #adabb9;
	--search_border_color: #9795a3;
	--search_border_active_color: #878492;
	--search_txt_color: #33313c;
	--firefox_color: #201841;
}

/*================== FIREFOX BG COLOR ==================*/
@-moz-document url("about:newtab"), url("about:home"), url("about:blank"), url("about:support"), url("about:config") {
 body { background-color: var(--page_bg_color) !important;}
 html {--in-content-page-background: var(--page_bg_color) !important;}
 .wordmark	{fill: var(--firefox_color) !important;}
 .SnippetBaseContainer	{background-color: var(--search_bg_color) !important;
 	color: var(--search_txt_color) !important;}
 .ASRouterButton	{border-radius: 3px !important;}
}

/*================== SEARCH BAR ==================*/
.search-wrapper input {
	transition: all 0.3s ease !important;
    background: var(--search_bg_color) var(--newtab-search-icon) 12px center no-repeat !important;
	background-size: 20px !important;
	border: 1px solid !important;
	border-color: var(--search_border_color) !important;
	box-shadow: none !important;
	color: var(--search_txt_color) !important;
}
.search-wrapper .search-inner-wrapper:hover input,
.search-wrapper .search-inner-wrapper:active input,
.search-wrapper input:focus {
	border-color: var(--search_border_active_color) !important;
}

.search-wrapper .search-button,
.search-wrapper .search-button {
	transition: all 0.3s ease !important;
	fill: var(--search_txt_color) !important;
}
.search-wrapper .search-button:focus,
.search-wrapper .search-button:hover {
    background-color: var(--search_border_active_color) !important;
}

/*================== READER VIEW ==================*/
@-moz-document url-prefix("about:reader") {
	html {
		background: #e1e0e6;
	}
	toolbar > reader-toolbar {
		border-radius: 3px !important;
	}
  body {
    --toolbar-bgcolor: #adabb9 !important;
    --toolbar-border: #e1e0e6 !important;
    --toolbar-hover: #9795a3 !important;
    --popup-bgcolor: #adabb9 !important;
    --popup-border: #9795a3 !important;
    --font-color: #33313c !important;
    --icon-fill: #33313c !important;
    background: #e1e0e6 !important;
}

  }
